Thumbs.db
.DS_Store
*.userprefs
*.user
*.suo
*.quicktest
bin
obj
packages
test-results
Resource.Designer.cs
[Cc]omponents
FieldService/FieldService.WinRT/AppPackages
FieldService/FieldService.WinRT/*.pfx
FieldService/FieldService.WinRT/Package.StoreAssociation.xml
