<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="23.0.1.3" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.0.1.3" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.0.1.3" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.0.1.3" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.0.1.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Ads" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Analytics" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.AppIndexing" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.AppInvite" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.AppState" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Cast" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Drive" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Fitness" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Games" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Identity" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Location" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Maps" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Nearby" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Panorama" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Plus" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.SafetyNet" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Vision" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Wallet" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Wearable" version="26.0.0.0" targetFramework="MonoAndroid50" />
  <package id="xamstore-xamarin.mobile" version="0.7.1" targetFramework="MonoAndroid50" />
</packages>