<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpDX" version="2.4.2" targetFramework="win81" />
  <package id="SharpDX.D3DCompiler" version="2.4.2" targetFramework="win81" />
  <package id="SharpDX.Direct2D1" version="2.4.2" targetFramework="win81" />
  <package id="SharpDX.Direct3D11" version="2.4.2" targetFramework="win81" />
  <package id="SharpDX.DXGI" version="2.4.2" targetFramework="win81" />
  <package id="SignatureBoxControl" version="1.0.1" targetFramework="win81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="win81" />
  <package id="WinRTXamlToolkit" version="1.5.2.0" targetFramework="win81" />
  <package id="WinRTXamlToolkit.Composition" version="1.5.2.0" targetFramework="win81" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="win81" />
</packages>