<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Field Service</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>72.png</string>
		<string>144.png</string>
		<string>50.png</string>
		<string>100.png</string>
		<string>29.png</string>
		<string>58.png</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UIMainStoryboardFile</key>
	<string></string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array/>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.sample.fieldservice</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
</dict>
</plist>
